<!-- Navbar de l'utilisateur anonyme non connecté -->
<nav>
  <h2 class="global-logo-white"><a href="/">Nom <span class="global-color-red"> à définir</span></a></h2> <!-- Musixia, Tunexus, Soundora, Vibraze, Melodify, Sinalio, Lysila, Soria -->
  <ul>
    <button *ngIf="isMobileOrTablet" type="button" class="global-color-white button-margin-right global-mb-10 d-flex flex-row global-align-items-center">
      <small>Aide</small> <small>&nbsp; &nbsp;</small> <i class="material-icons">help</i>
    </button>
    <button *ngIf="!isMobileOrTablet" type="button" class="global-color-white button-margin-right d-flex flex-column">
      <i class="material-icons">help</i> <small class="global-mb-28"></small> <small>Aide</small>
    </button>
    <button *ngIf="isMobileOrTablet" type="button" class="global-color-white button-margin-right global-mb-10 d-flex flex-row global-align-items-center" data-bs-toggle="modal" data-bs-target="#LoginModal">
      <small>Connexion</small> <small>&nbsp; &nbsp;</small> <i class="material-icons">login</i>
    </button>
    <button *ngIf="!isMobileOrTablet" type="button" class="global-color-white button-margin-right d-flex flex-column" data-bs-toggle="modal" data-bs-target="#LoginModal">
      <i class="material-icons">login</i> <small class="global-mb-10"></small> <small>Connexion</small>
    </button>
    <button *ngIf="isMobileOrTablet" type="button" class="global-color-white d-flex flex-row global-align-items-center" data-bs-toggle="modal" data-bs-target="#SignupModal">
      <small>Inscription</small> <small>&nbsp; &nbsp;</small> <i class="material-icons">person_add</i>
    </button>
    <button *ngIf="!isMobileOrTablet" type="button" class="global-color-white d-flex flex-column" data-bs-toggle="modal" data-bs-target="#SignupModal">
      <i class="material-icons">person_add</i> <small class="global-mb-10"></small> <small>Inscription</small>
    </button>
  </ul>
</nav>
  
<!-- Modal du formulaire Login (Utilisation de Bootstrap) -->
<div #modalElementLogin class="modal fade" id="LoginModal" tabindex="-1" aria-labelledby="modalTitle" aria-hidden="true">
  <div class="modal-dialog global-mt-10">
    <div class="modal-content">
      <div class="modal-header" style="border-bottom: none;">
        <button type="button" class="global-color-black" data-bs-dismiss="modal" (click)="closeModalLogin()">
          <i class="material-icons">close</i>
        </button>
      </div>
      <div class="global-align-self-center global-mb-4">
        <img src="assets/imgs/logo.png" alt="" width="72" height="57">
      </div>
      <div class="global-align-self-center global-mb-3">
        <h2 class="global-ft-150">Connectez-vous</h2>
      </div>
      <div class="global-align-self-center">

        <!-- Formulaire Login -->
        <form class="global-justify-items-center" [formGroup]="formGroupLogin" (ngSubmit)="OnSubmitLogin()">
          <div class="global-mb-3">
            <label for="email1" class="form-label">Email</label>
            <input id="email1" type="email" class="form-control" formControlName="email" [class.is-invalid]="isInvalidAndTouchedOrDirty(formGroupLogin.controls.email)"/>
            @if (isInvalidAndTouchedOrDirty(formGroupLogin.controls.email)) {
              <small class="text-danger">
                @if (formGroupLogin.controls.email.hasError("required")) {
                  <ng-container>
                    Email obligatoire !
                  </ng-container>
                }
              </small>
              <small class="text-danger">
                @if (formGroupLogin.controls.email.errors?.['emailFormat']) {
                  <ng-container>
                    Format d'email invalide !
                  </ng-container>
                }
              </small>
            }
          </div>
          <div class="global-mb-8">
            <label for="password1" class="form-label">Mot de passe</label>
            <input id="password1" type="password" class="form-control" formControlName="password" [class.is-invalid]="isInvalidAndTouchedOrDirty(formGroupLogin.controls.password)"/>
            @if (isInvalidAndTouchedOrDirty(formGroupLogin.controls.password)) {
              <small class="text-danger">
                @if (formGroupLogin.controls.password.hasError("required")) {
                <ng-container>
                  Mot de passe obligatoire !
                </ng-container>
                }
                @if (formGroupLogin.controls.password.hasError("minlength")) {
                  <ng-container>
                    5 caractères minimum !
                  </ng-container>
                }
              </small>
            }
          </div>
          <button type="submit" mat-flat-button class="global-bg-black global-color-white padding-block-5 global-mb-20" [disabled]="formGroupLogin.invalid" [ngStyle]="{ 'opacity': formGroupLogin.invalid ? '0.5' : '1', 'cursor': formGroupLogin.invalid ? 'not-allowed' : 'pointer' }">Se connecter</button>
        </form>
        <!-- Fin du formulaire Login -->
      </div>
    </div>
  </div>
</div>


<!-- Modal du formulaire Signup (Utilisation de Bootstrap) -->
<div #modalElementSignup class="modal fade" id="SignupModal" tabindex="-1" aria-labelledby="modalTitle" aria-hidden="true">
  <div class="modal-dialog" [ngClass]="{'global-mt-10': isMobileOrTablet, 'global-mt-7': !isMobileOrTablet }">
    <div class="modal-content">
      <div class="modal-header" style="border-bottom: none;">
        <button type="button" class="global-color-black" data-bs-dismiss="modal" (click)="closeModalSignup()">
          <i class="material-icons">close</i>
        </button>
      </div>
      <div class="global-align-self-center global-mb-4">
        <img src="assets/imgs/logo.png" alt="" width="72" height="57">
      </div>
      <div class="global-align-self-center global-mb-3">
        <h2 class="global-ft-150">Inscrivez-vous</h2>
      </div>
      <div class="global-align-self-center">

        <!-- Formulaire Signup -->
        <form class="global-justify-items-center" [formGroup]="formGroupSignup" (ngSubmit)="OnSubmitSignup()">
          <div class="global-mb-3">
            <label for="pseudo" class="form-label">Pseudo</label>
            <input id="pseudo" type="text" class="form-control" formControlName="pseudo" [class.is-invalid]="isInvalidAndTouchedOrDirty(formGroupSignup.controls.pseudo)"/>
            @if (isInvalidAndTouchedOrDirty(formGroupSignup.controls.pseudo)) {
              <small class="text-danger">
                @if (formGroupSignup.controls.email.hasError("required")) {
                  <ng-container>
                    Pseudo obligatoire !
                  </ng-container>
                }
              </small>
            }
          </div>
          <div class="global-mb-3">
            <label for="email2" class="form-label">Email</label>
            <input id="email2" type="email" class="form-control" formControlName="email" [class.is-invalid]="isInvalidAndTouchedOrDirty(formGroupSignup.controls.email)"/>
            @if (isInvalidAndTouchedOrDirty(formGroupSignup.controls.email)) {
              <small class="text-danger">
                @if (formGroupSignup.controls.email.hasError("required")) {
                  <ng-container>
                    Email obligatoire !
                  </ng-container>
                }
              </small>
              <small class="text-danger">
                @if (formGroupSignup.controls.email.errors?.['emailFormat']) {
                  <ng-container>
                    Format d'email invalide !
                  </ng-container>
                }
              </small>
            }
          </div>
          <div class="global-mb-8">
            <label for="password2" class="form-label">Mot de passe</label>
            <input id="password2" type="password" class="form-control" formControlName="password" [class.is-invalid]="isInvalidAndTouchedOrDirty(formGroupSignup.controls.password)"/>
            @if (isInvalidAndTouchedOrDirty(formGroupSignup.controls.password)) {
              <small class="text-danger">
                @if (formGroupSignup.controls.password.hasError("required")) {
                <ng-container>
                  Mot de passe obligatoire !
                </ng-container>
                }
                @if (formGroupSignup.controls.password.hasError("minlength")) {
                  <ng-container>
                    5 caractères minimum !
                  </ng-container>
                }
              </small>
            }
          </div>
          <button type="submit" mat-flat-button class="global-bg-black global-color-white padding-block-5 global-mb-20" [disabled]="formGroupSignup.invalid" [ngStyle]="{ 'opacity': formGroupSignup.invalid ? '0.5' : '1', 'cursor': formGroupSignup.invalid ? 'not-allowed' : 'pointer' }">S'inscrire</button>
        </form>
        <!-- Fin du formulaire Signup -->     
      </div>
    </div>
  </div>
</div>