<!-- Navbar de l'utilisateur connecté -->
<nav>
    <h2 class="global-logo-white"><a href="/">Nom <span class="global-color-red"> à définir</span></a></h2>
    <ul>
      <button *ngIf="isMobileOrTablet" type="button" class="global-color-white button-margin-right global-mb-10 d-flex flex-row global-align-items-center">
        <small>Aide</small> <small>&nbsp; &nbsp;</small> <i class="material-icons">help</i>
      </button>
      <button *ngIf="!isMobileOrTablet" type="button" class="global-color-white button-margin-right d-flex flex-column">
        <i class="material-icons">help</i> <small class="global-mb-31"></small> <small>Aide</small>
      </button>
      <button *ngIf="isMobileOrTablet" type="button" class="global-color-white button-margin-right global-mb-10 d-flex flex-row global-align-items-center">
        <small>Compte</small> <small>&nbsp; &nbsp;</small> <i class="material-icons">person</i>
      </button>
      <button *ngIf="!isMobileOrTablet" type="button" class="global-color-white button-margin-right d-flex flex-column">
        <i class="material-icons">person</i> <small class="global-mb-18"></small> <small>Compte</small>
      </button>
      <button *ngIf="isMobileOrTablet" type="button" class="global-color-white d-flex flex-row global-align-items-center" (click)="logout()">
        <small>Déconnexion</small> <small>&nbsp; &nbsp;</small> <i class="material-icons">logout</i>
      </button>
      <button *ngIf="!isMobileOrTablet" type="button" class="global-color-white d-flex flex-column" (click)="logout()">
        <i class="material-icons">logout</i> <small class="mb-2"></small> <small>Déconnexion</small>
      </button>
    </ul>
</nav>