html, body {
    height: 100%;
}

//Anonymous-container && Auth-container
.global-container {
    height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(/assets/imgs/bg.png);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
	background-size: cover;
	background-position: center;
    position: absolute;
}

//Logos
.global-logo-white {
	color: white;
	font-size: 20px;
    transition: .4s;
}

.global-logo-white:hover {
    transform: scale(1.3);
    cursor: pointer;
}

.global-logo-black {
	color: rgb(0, 0, 0);
	font-size: 20px;
    transition: .4s;
}

.global-logo-black:hover {
	transform: scale(1.3);
    cursor: pointer;
}

//Colors
.global-color-white {
    color: white !important;
}

.global-color-black {
    color: black !important;
}

.global-color-red {
	color: #ea1538 !important;
}

.global-color-green {
	color: #15ea3c !important;
}

.global-color-blue {
	color: #2315ea !important;
}

//Backgrounds
.global-bg-white {
    background-color: white !important;
}

.global-bg-black {
    background-color: black !important;
}

.global-bg-red {
    background-color: #ea1538 !important;
}

.global-bg-green {
    background-color: #15ea3c !important;
}

.global-bg-blue {
    background-color: #2315ea !important;
}

//Alignements
.global-justify-items-center {
	justify-items: center !important;
}

.global-align-self-center {
	align-self: center !important;
}

.global-align-items-center {
	align-items: center !important;
}

//Marges Top
.global-mt-1 {
    margin-top: 1% !important;
}

.global-mt-2 {
    margin-top: 2% !important;
}

.global-mt-3 {
    margin-top: 3% !important;
}

.global-mt-4 {
    margin-top: 4% !important;
}

.global-mt-5 {
    margin-top: 5% !important;
}

.global-mt-6 {
    margin-top: 6% !important;
}

.global-mt-7 {
    margin-top: 7% !important;
}

.global-mt-8 {
    margin-top: 8% !important;
}

.global-mt-9 {
    margin-top: 9% !important;
}

.global-mt-10 {
    margin-top: 10% !important;
}

//Marges Bottom
.global-mb-1 {
    margin-bottom: 1% !important;
}

.global-mb-2 {
    margin-bottom: 2% !important;
}

.global-mb-3 {
    margin-bottom: 3% !important;
}

.global-mb-4 {
    margin-bottom: 4% !important;
}

.global-mb-5 {
    margin-bottom: 5% !important;
}

.global-mb-6 {
    margin-bottom: 6% !important;
}

.global-mb-7 {
    margin-bottom: 7% !important;
}

.global-mb-8 {
    margin-bottom: 8% !important;
}

.global-mb-9 {
    margin-bottom: 9% !important;
}

.global-mb-10 {
    margin-bottom: 10% !important;
}

.global-mb-11 {
    margin-bottom: 11% !important;
}

.global-mb-12 {
    margin-bottom: 12% !important;
}

.global-mb-13 {
    margin-bottom: 13% !important;
}

.global-mb-14 {
    margin-bottom: 14% !important;
}

.global-mb-15 {
    margin-bottom: 15% !important;
}

.global-mb-16 {
    margin-bottom: 16% !important;
}

.global-mb-17 {
    margin-bottom: 17% !important;
}

.global-mb-18 {
    margin-bottom: 18% !important;
}

.global-mb-19 {
    margin-bottom: 19% !important;
}

.global-mb-20 {
    margin-bottom: 20% !important;
}

.global-mb-21 {
    margin-bottom: 21% !important;
}

.global-mb-22 {
    margin-bottom: 22% !important;
}

.global-mb-23 {
    margin-bottom: 23% !important;
}

.global-mb-24 {
    margin-bottom: 24% !important;
}

.global-mb-25 {
    margin-bottom: 25% !important;
}

.global-mb-26 {
    margin-bottom: 26% !important;
}

.global-mb-27 {
    margin-bottom: 27% !important;
}

.global-mb-28 {
    margin-bottom: 28% !important;
}

.global-mb-29 {
    margin-bottom: 29% !important;
}

.global-mb-30 {
    margin-bottom: 30% !important;
}

.global-mb-31 {
    margin-bottom: 31% !important;
}

//Font Size
.global-ft-150 {
    font-size: 150% !important;
}